body {
    background: black;
}

h1 {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.days-of-week {
    color: white;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    border: 2px solid green;
    justify-content: space-evenly;
}

.parent-container {
    border: solid red 2px;
    height: 60vh;
}

button {
    font-family: "Zen Dots", sans-serif;
    font-style: normal;
}
